<div class="product-name"><%=@product.name%></div>
<div class="product-price"><%=@product.price%></div>
<div class="product-inventory"><%=@product.inventory%></div>
<div class="product-description"><%=@product.description%></div>
<%= hidden_field_tag "product-id", @product.id %>
<script type="text/javascript">

</script>
