<div class="productName"><%=@product.name%></div>
<div class="product-price"><%=@product.price%></div>
<div class="product-inventory"><%=@product.inventory%></div>
<div class="product-description"><%=@product.description%></div>
<a href="#" class="js-next" data-id="<%=@post.id%>">Next Product</a>
<script type="text/javascript">
  $(function(){
    $("#product-id").value
  })
</script>
